.contacts {
  color: $grey-dark;
  font-family: $font-PTMono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  width: 23.7%;
  flex-shrink: 0;
}

.contacts h2 {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 27px;
}

.contacts__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// .contacts__item {
//   margin-bottom: 8px;
// }

.contacts__link {
  color: inherit;
  opacity: 0.5;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tablet) {
  .contacts {
    width: 46.1%;
    margin-right: 7px;
  }

  .contacts h2 {
    margin-bottom: 26px;
  }
}

@media (max-width: $mobile) {
  .contacts {
    width: 100%;
    margin-right: 0;
    padding-top: 28px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 20px;
  }

  .contacts h2 {
    margin-bottom: 33px;
  }
}
