.copyright {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-top: 1px solid #626962;
  padding-top: 14px;
  padding-bottom: 14px;
}

.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__row--first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 816px;
  margin-right: 45px;
}

.copyright__row--second {
  flex-shrink: 0;
  width: 192px;
}


.copyright p {
  opacity: 0.5;
  margin: 0;
}

.copyright a {
  color: inherit;

  &:focus,
  &:hover {
    color: $black;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tablet) {
  .copyright {
    padding-top: 21px;
    padding-bottom: 24px;
  }

  .copyright__container {
    padding-right: 23px;
  }

  .copyright__text--rights,
  .copyright__text--company {
    display: none;
  }
}

@media (max-width: $mobile) {
  .copyright {
    padding-top: 28px;
    padding-bottom: 26px;
  }

  .copyright__container {
    max-width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .copyright__row--first {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .copyright__row--second {
    width: 100%;
  }

  .copyright p {
    margin: 0 auto;
    text-align: center;
  }
}
