.feedback {
  position: relative;
  min-height: 670px;
  padding: 90px 40px;
  background: url("../img/icon-triangle-feedback.svg") left 174px top -60px no-repeat $blue;
}

.feedback__container {
  background: url("../img/plane-desktop@1x.png") left 118px top 71px no-repeat transparent;
  background-size: 511px 288px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__container {
    background-image: url("../img/plane-desktop@2x.png");
  }
}

.feedback__wrapper {
  max-width: 570px;
  min-height: 461px;
  margin-left: auto;
  margin-right: 121px;
}

.feedback h2 {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin: 0;
  margin-left: -3px;
  margin-bottom: 10px;
}

.feedback p {
  font-family: $font-PTMono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin: 0;
  margin-bottom: 52px;
}

@media (max-width: 1350px) {
  .feedback__container {
    background-position: left center;
  }

  .feedback__wrapper {
    margin-right: 0;
  }
}

@media (max-width: 1150px) {
  .feedback__container {
    background: none;
  }

  .feedback__wrapper {
    margin: 0 auto;
  }
}

@media (max-width: $tablet) {
  .feedback {
    min-height: 664px;
    padding-top: 75px;
    background: $blue;
  }

  .feedback__container {
    padding-left: 50px;
  }

  .feedback__wrapper {
    max-width: none;
    margin: 0;
    margin-right: 40px;
    padding-top: 5px;
  }

  .feedback h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 15px;
  }

  .feedback p {
    margin-bottom: 55px;
  }
}

@media (max-width: $mobile) {
  .feedback {
    min-height: 640px;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 39px;
  }

  .feedback h2 {
    font-size: 28px;
    line-height: 39px;
    margin-left: 0;
    margin-bottom: 13px;
  }

  .feedback p {
    margin-bottom: 26px;
  }

  .feedback__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .feedback__wrapper {
    margin-right: 0;
    padding-bottom: 0;
  }
}
