.footer {
  padding-top: 65px;
  background-color: $white-dark;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 56px;
}

.footer__btn {
  display: none;
}

@media (max-width: $tablet) {
  .footer {
    position: relative;
    padding-top: 19px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 96px;
      background-color: #626962;
    }
  }

  .footer__container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 36px;
    padding: 0;
    padding-right: 17px;
  }
}

@media (max-width: $mobile) {
  .footer {
    padding-top: 46px;

    &::after {
      display: none;
    }
  }

  .footer__container {
    flex-direction: column;
    margin-bottom: 0;
    padding-right: 0;
  }

  .footer__btn {
    @include button-reset;
    position: absolute;
    top: 22px;
    right: 11px;
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/icon-plus.svg") center no-repeat transparent;
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.2;
    }
  }

  .footer__btn--opened {
    background-image: url("../img/icon-minus.svg");
  }

  .footer__list {
    display: none;
  }

  .footer__list--opened {
    display: block;
  }
}
