.footer {
  padding-top: 65px;
  background-color: $white-dark;
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 52px;
}

@media (max-width: $tablet) {
  .footer__container {
    flex-wrap: wrap;
  }
}
