.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input {
  height: 50px;
  width: 47.35%;
  margin-left: 5.25%;

  &:first-of-type {
    margin-left: 0;
  }
}

.form textarea {
  min-height: 154px;
  resize: none;
  width: 100%;
}

.form input,
.form textarea {
  font-family: $font-PTMono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin-bottom: 40px;
  padding: 12px 14px 16px 17px;
  border: none;
  border-radius: 0;
  background-color: $blue-light;

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px $grey;
    outline: none;
  }
}

.form__submit {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.form__submit label {
  font-family: $font-PTMono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.form__submit label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
}

.form__submit label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;
  display: none;
  width: 8px;
  height: 5px;
  background: url("../img/icon-vector-down.svg") center no-repeat transparent;
}

.form__submit [type="checkbox"]:checked + label::after {
  display: block;
}

.form__submit [type="checkbox"]:focus + label::before {
  box-shadow: 4px 4px $grey;
}

.form__submit [type="checkbox"]:focus + label {
  opacity: 1;
}
