.header {
  padding: 33px 0 27px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  @include list-reset;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 86px;

  &:nth-child(2) {
    margin-right: 47px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.header__link {
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.header__link-icon--phone {
  margin: 0 6px 0 0;
}

.header__link-icon {
  margin: 0 10px 0 0;
  vertical-align: middle;
  fill: $blue;
}

@media (max-width: $tablet) {
  .header {
    padding: 20px 0 0;
  }

  .header__list {
    margin-right: 16px;
  }

  .header__item {
    margin-right: 0;
  }

  .header__link-text {
    display: none;
  }

  .header__link-icon--mail {
    width: 25px;
    height: 18px;
    margin-right: 33px;
  }

  .header__link-icon--phone {
    width: 24px;
    height: 24px;
    margin: 0;
  }
}

@media (max-width: $mobile) {
  .header {
    padding-top: 17px;
  }

  .header__container {
    padding-left: 17px;
  }

  .header__list {
    margin-right: 8px;
  }
}
