.nav {
  font-family: $font-PTMono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $grey-dark;
  width: 39.1%;
  margin-right: 7.6%;
}

.nav h2 {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.nav__list {
  @include list-reset;
  column-count: 2;
  column-gap: 65px;
  column-width: auto;
}

.nav__item {
  max-width: 243px;
}


.nav__link {
  color: inherit;
  opacity: 0.5;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tablet) {
  .nav {
    width: 33.6%;
    margin-right: 0;
    margin-left: 23px;
  }

  .nav__list {
    @include list-reset;
    column-count: 1;
  }
}

@media (max-width: $mobile) {
  .nav {
    position: relative;
    width: 100%;
    margin-left: 0;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #626962;
  }

  .nav h2 {
    margin-bottom: 0;
  }

  .nav__list {
    margin-top: 25px;
  }
}
